.nav {
  height: 150px;
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  display: flexbox;
  border-bottom: 5px solid black;
}

.nav h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 75px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  display: flex;
}

.nav a {
  color: white;
  margin: 0 auto;
}

.nav a:hover {
  color: gold;
}
