.nav {
  height: 20px;
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  display: flexbox;
}

.nav-links {
  display: flex;
}

.nav a {
  color: white;
  margin: 0 auto;
}

.nav a:hover {
  color: black;
}
