.user-card img {
  height: 300px;
  width: 300px;
  display: flex;
  margin-right: 25px;
  border-radius: 5px;
  border: 3px solid #86c232;
}

.user-card {
  color: #ffffff;
  display: flex;
  max-width: 1000px;
  justify-content: center;
  margin-top: 100px;
  margin: 0 auto;
  flex-direction: column;
}

.user-card h2 {
  max-width: 800px;
  display: flex;
  flex-direction: row;
}

.userCard p {
  display: flex;
  align-items: center;
  max-width: 400px;
  text-align: center;
}

.userCard {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: space-evenly;
}

.postHeader {
  margin: 60px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.status-posts {
  margin: 40px 0 20px 0;
  border: 2px solid black;
  border-radius: 3px;
  background-color: #2b2d2e;
}
.status-posts p {
  font-size: 10px;
  margin-left: 8px;
}

.status-posts h4 {
  margin-left: 50px;
}

.postBtns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

#post {
  width: 600px;
  border: 2px solid black;
  border-radius: 3px;
}

form {
  text-align: left;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 800;
}

#newPostSubmit {
  width: 75px;
  height: 25px;
  margin: auto;
  margin-top: 10px;
  font-weight: 300;
  border: 2px solid black;
  border-radius: 3px;
}

#newPostSubmit:hover {
  border: 2px solid #3a47d5;
  background-color: #00d2ff;
  color: #3a47d5;
  font-weight: 900;
}

.like-counter {
  font-size: 12px;
  font-weight: 900;
  margin: 15px;
}
