body {
  font-family: "Work Sans", sans-serif;
  background: #f0f0f0;
}

.title {
  font-family: "Permanent Marker", cursive;
  font-size: 45px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}
