body {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  background: #262626;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.title h1 {
  font-size: 90px;
  background: linear-gradient(90deg, #86c232 0%, #61892f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  color: #86c232;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

@media only screen and (max-width: 650px) {
  body,
  .title,
  .title h1,
  .footer {
    font-size: 35px;
    display: flex;
    max-width: 370px;
    margin: 0 auto;
  }

  .footer p {
    font-size: 20px;
  }

  * {
    text-align: center;
    margin: 0 auto;
  }
}
